.colourSquare {
  width: 90vw;
  height: 90vh;
  background-color: #ffffff;

  margin: auto;
  margin-top: 5vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
  text-align: center;
}

.winner {
  font-size: 7rem;
  color: ghostwhite;
}

.resetButton {
  border: 0;
  padding: 1rem;
}